{% extends 'apps/base.html' %}
{% load static %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="{% url 'statistics/all' %}?period=all"
                               class="btn btn-default {% if 'statistics/all' in request.path %}active{% endif %} ">Hammasi</a>
                            <a href="{% url 'statistics/today' %}?period=today"
                               class="btn btn-default {% if 'statistics/today' in request.path %}active{% endif %} ">Bugun</a>
                            <a href="{% url 'statistics/last_day' %}?period=last_day"
                               class="btn btn-default {% if 'statistics/last_day' in request.path %}active{% endif %}">Kechagi</a>
                            <a href="{% url 'statistics/weekly' %}?period=weekly"
                               class="btn btn-default {% if 'statistics/weekly' in request.path %}active{% endif %}">Haftalik</a>
                            <a href="{% url 'statistics/monthly' %}?period=monthly"
                               class="btn btn-default {% if 'statistics/monthly' in request.path %}active{% endif %}">Oylik</a>

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">

                        <tr>
                            <th scope="col">Oqim</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Tashrif</th>
                            <th scope="col">Yangi</th>
                            <th scope="col">Dastavkaga tayyor</th>
                            <th scope="col">Yetkazilmoqda</th>
                            <th scope="col">Yetqazib berildi</th>
                            <th scope="col">Telefon ko'tarmadi</th>
                            <th scope="col">Bekor qilindi</th>
                            <th scope="col">Arxivlandi</th>
                        </tr>
                        <tr class="bg-info">
                            <td> JAMI</td>
                            <td></td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                        </tr>
                        </thead>

                        <tbody class="text-center">
                        {% for statistic in statistics %}
                            <tr>
                                <th>{{ statistic.name }}</th>
                                <th>{{ statistic.product.name }}</th>
                                <td>{{ statistic.counter }}</td>
                                <td>{{ statistic.new }}</td>
                                <td>{{ statistic.ready_to_delivery }}</td>
                                <td>{{ statistic.delivering }}</td>
                                <td>{{ statistic.delivered }}</td>
                                <td>{{ statistic.waiting }}</td>
                                <td>{{ statistic.cancelled }}</td>
                                <td>{{ statistic.archived }}</td>
                            </tr>
                        {% endfor %}




                        {#                        <tr>#}
                        {#                            <th>nom</th>#}
                        {#                            <th>Kapilka</th>#}
                        {#                            <td>0</td>#}
                        {#                            <td>0</td>#}
                        {#                            <td>0</td>#}
                        {#                            <td>0</td>#}
                        {#                            <td>0</td>#}
                        {#                            <td>0</td>#}
                        {#                            <td>0</td>#}
                        {#                            <td>0</td>#}
                        {#                        </tr>#}
                        {##}
                        {#                        <tr class="bg-info">#}
                        {#                            <td> JAMI</td>#}
                        {#                            <td></td>#}
                        {#                            <td> 0</td>#}
                        {#                            <td> 4</td>#}
                        {#                            <td> 0</td>#}
                        {#                            <td> 0</td>#}
                        {#                            <td> 0</td>#}
                        {#                            <td> 0</td>#}
                        {#                            <td> 1</td>#}
                        {#                            <td> 0</td>#}
                        {#                        </tr>#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}